# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
*.env

# Model artifacts
*.h5
*.pkl

# Log files
*.log

# Temporary files
*.tmp

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore environment files
.env

# Ignore user-specific IDE settings
.vscode/
.idea/

# Ignore any saved editor backups
*~

# Ignore system-specific temporary files
*.swp

artifacts/*
*.egg-info/*
